# dependencias
node_modules/

# variables de entorno
.env
.env.local

# logs
logs
*.log
npm-debug.log*

# archivos del sistema
.DS_Store
Thumbs.db

# cache
.npm
.cache

# coverage tests
coverage/

# build
dist/
build/

# archivos temporales
*.tmp
*.temp

# backups de base de datos
*.sql
*.dump